*{
    margin: 0px;
    padding: 0px;
}

.contenedorprimero{
    display: flex;
    background-color: #f7f7f7;
}

.logo{
    width: 300px;
    padding-left: 25px;
}

.contenedorformulario{
    margin-left: 300px;
}

.buscador{
    width: 550px;
    margin-top: 50px;
    height: 30px;
    text-align: end;
}

.carro{
    border: 0;
    font-size: 20px;
    margin-left: 25px;
    color: #11525b;
}

.contenedornav{
    background-color: #11525b;
    padding: 5px;
}

.lista{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.navegador{
    color: #fff;
    width: 25%;
    text-align: center;
    font-size: 20px;
    text-decoration: auto;
    font-family:'Ruda', sans-serif;
}

.contenedorportada{
    display: flex;
}

.contenedortxt{
    background-color: #f4f4f5;
}

.slogan{
    text-align: center;
    font-size: 65px;
    margin: 50px 75px 0px 75px;
    color: #26374d;
}

.textoslogan{
    font-size: 25px;
    margin: 25px 45px;
    text-align: center;
    background-color: #266b7499;
    color: white;
    padding: 10px;
}

.boton1{
    margin-left: 200px;
    margin-right: 20px;
    background-color: #11525b;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.boton2{
    background-color: #11525b;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.imagenportada{
    width: 650px;
    height: 420px;
}
.nosotros{
    background-color: #11525b;
    padding: 10px;
}

.contenedornosotros{
    width: 800px;
    margin: 20px auto;
    text-align: center;
    background-color: #11525b;
    color: white;
}

.nosotrostxt1{
    padding: 20px;
}

.nosotrostxt2{
    padding: 15px;
}